
.button {
    -fx-background-color: #0004f8; /* Зеленый фон */
    -fx-text-fill: white; /* Белый текст */
    -fx-font-size: 16px; /* Размер шрифта */
    -fx-padding: 10px 20px; /* Внутренние отступы */
    -fx-border-radius: 5px; /* Закругленные углы */
    -fx-background-radius: 5px; /* Закругленный фон */
}


.button:hover {
    -fx-background-color: #f50c0c;
}


.button:pressed {
    -fx-background-color: #eb90ab;
}